@font-face {
  font-family: "SketchBook";
	src: url('../fonts/SketchBook-B5pB.ttf');
}
@font-face {
  font-family: "HarryP";
	src: url('../fonts/HarryP.ttf');
}
body {
  background: rgb(255, 215, 156);
  background: linear-gradient(90deg, rgba(255, 215, 156, 1) 20%, rgba(29, 86, 123, 1) 100%);
  height: 100vh;
}
nav{
  background-color: #895024;
  text-decoration: none;
  color: #53600E;
}
/* #sidebar header {
  background-color: #FFD79C;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  box-shadow: 2px 2px 6px black;
} */
#boo {
  color: #53600E;
  font-weight: bold;
  font-size: 30px;
}

#content{
  margin: 0;
  padding: 0;
}
#list_book{
  margin: 0;
}
#list_book table img{
width:20%;
}
.card-title {

  color: white;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 3px;
}

.card-body img {
  width: 30px;
}


.simple_data{
  color : black;
  border: solid 2px #895024;
}
.simple_data span{
  color : #F5B638;
}

#king {
  width: 30px;
}

#navstyle {
background: linear-gradient(90deg, rgba(255, 215, 156, 1) 20%, rgba(29, 86, 123, 1) 100%);
  font-weight: bold;

}

#gold {
  background: #F5B638;
  border-bottom: hidden;
  box-shadow:  0 0 60px 30px #fff,  /* inner white */
        0 0 100px 60px  #F5B638, /* middle magenta */
        0 0 140px 90px  #F5B638; /* outer cyan */

}

#silver {
  background: #928989;
  border-bottom: hidden;
  box-shadow: 1px 1px 20px;
}

#bronze {
  background: #895024;
    border-bottom: hidden;
      box-shadow: 1px 1px 20px;
}

#endlist {
      border-bottom: hidden;
      background: white;
        box-shadow: 1px 1px 20px;
}

thead tr {
  border-top: none;
  border-bottom: 2px solid black;
}
#crown {
  padding-bottom: 35px;
}
.title {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table {
  border-top: hidden;
}

.dash-title {
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-family: "HarryP";
  text-align: center;
}

.dash-title h1 {
  font-size: 80px;

}

#subtitle {
  font-size: 25px;
}


.categorie h4 {
  font-size: 12px;
  text-align: center;
  color: #71716D;
  font-weight: bold;

}

#shadow {
  box-shadow: 5px 10px 20px, -2px -3px 20px;
}

.shadowlist {
  box-shadow: 6px 5px 8px, -2px -4px 10px;
}


/* Stats Bar */

.col-sm {
  position:relative;
}
/*--------------------------------------------------------------*/

.scoreboard {
  box-shadow: 1px -4px 10px, 1px -1px 25px;
}

.counter {
    background-color:rgba(25,25,25,0);
    padding: 10px 0;
    border-radius: 5px;
    margin-top:10%;
    color: white;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
}

.fasize {

    margin: 20px auto;
    padding:40px;
    float: none;
    display: table;
    color: white;
    border: 1px solid;
    border-radius: 50%;
    font-size: 25px;
}

.row.text-center {
  background-image: url('../../template/img/scoreboard.jpg');
  background-size: cover;
}

.text {
  position: absolute;

  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;


}

#text-appear {
  margin-top: 6vh;}

.text.hidden {
  position: absolute;
}

.text li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  color: #e5e5e5;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
  font-family: "HarryP";
  padding:3px;
}
.text.hidden li.spaced {
  padding-left: 0;
}
.text li.spaced {
  padding-left: 0.5em;
}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}
