/* #viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
} */

body {
  background: rgb(255,215,156);
  background: linear-gradient(90deg, rgba(255,215,156,1) 20%, rgba(29,86,123,1) 100%);
}

/* #content {
  width: 100%;
  position: relative;
  margin-right: 0;
} */

/* Sidebar Styles */

/* #sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #FFD79C;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-right: 1px solid #302A2A;
  box-shadow: 1px 1px 10px black;
} */

/* #sidebar header {
  background-color: #FFD79C;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  box-shadow: 2px 2px 6px black;
} */

#boo {
  color: #53600E;
  font-weight: bold;
  font-size: 30px;
}

/* #sidebar header a {
  color: #60320A;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  height: 10vh;
} */


/* #sidebar header a:hover {
  color: #FCBE39;
}

#sidebar .nav{
  flex-direction: column;
}

#sidebar .nav li{
  display:flex;
}

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;

  box-shadow: 1px 1px 10px  #FFD79C;
  color: #302A2A;
  font-size: 14px;
  padding: 16px 24px;
  width:100%;
}

#sidebar .nav a:hover{
  background: #302A2A;
  color: #CFD8DC;
  text-decoration: none;
}

#sidebar .nav a i{
  margin-right: 16px;
} */

/* Container Admin */

/* .container-top {
  background-color: #302A2A;
  width: 100%;
  display: flex;
  height: 10vh;

} */

/* Fin container admin */

/* Titre dashboard */

/* .dash-title {
  margin-left: 300px;
  margin-top: 2.5vh;
}
#subtitle {
  padding-left: 15px;
} */

/* Fin titre dashboard */

/* Cards graphs */

.card {
  margin-top: 2vh;
  background: none;
  border: none;
}
.card img {
    border-radius: 0% 0% 12% 12%;
}
.card-deck {

  /* margin-left : 300px; */
  /* margin-right: 50px; */
}

.card-title {
  opacity: 0.7;
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 10px;
}

.card-body {
    background-color: #302A2A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12% 12% 0% 0%;
}

.card-body img {
  width:10px;
}

.card {
  border: 1px solid #302A2A;
  border-radius: 12% 12% 0% 0%;
}

/* Fin cards graphs */

/* Card listing */

/* .cardlist {
  background: #302A2A;
  margin-left: 300px;
   height :150px;
  width : 150px;

}
#list_book{
  height: 150px;
  width: 150px;
}
.cardlist .card-body {
  background:#302A2A;
  display: flex;
  flex-direction: column;
}

.titlelist {
  color: white;
  font-size: 22px;

}

#gold {
  background: #F5B638;
  border-bottom: 2px solid black;
}

#silver {
  background: #928989;
    border-bottom: 2px solid black;
}

#bronze {
  background: #895024;
    border-bottom: 2px solid black;
}

#endlist {
      border-bottom: 2px solid black;
      background: white;
}

thead tr {
  border-top: none;
  border-bottom: 2px solid black;
}
#crown {
  padding-bottom: 35px;
}
.title {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table {
  border-top: hidden;
} */
