/* Navbar Style */

#navstyle {
  background-color: #302A2A;
}

body {
  background: rgb(255,215,156);
  background: linear-gradient(90deg, rgba(255,215,156,1) 20%, rgba(29,86,123,1) 100%);
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}


/* Titre dashboard */

.dash-title {
  margin-top: 2.5vh;
}
#subtitle {
  padding-left: 15px;
}

/* Fin titre dashboard */

/* Cards graphs */

.card {
  margin-top: 2vh;
  background: none;
  border: none;
}
.card img {
    border-radius: 0% 0% 12% 12%;
}
.card-deck {

  margin-right: 50px;
}

.card-title {
  opacity: 0.7;
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 18px;
}

.card-body {
    background-color: #302A2A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12% 12% 0% 0%;
}

.card-body img {
  width: 30%;
}

/* Fin cards graphs */

/* Card listing */

.cardlist {
  background: #302A2A;


}

.cardlist .card-body {
  background:#302A2A;
  display: flex;
  flex-direction: column;
}

.titlelist {
  color: white;
  font-size: 22px;

}

#gold {
  background: #F5B638;
  border-bottom: 2px solid black;
}

#silver {
  background: #928989;
    border-bottom: 2px solid black;
}

#bronze {
  background: #895024;
    border-bottom: 2px solid black;
}

#endlist {
      border-bottom: 2px solid black;
      background: white;
}

thead tr {
  border-top: none;
  border-bottom: 2px solid black;
}
#crown {
  padding-bottom: 35px;
}
.title {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table {
  border-top: hidden;
}
